
<div *ngIf="apiLoaded | async">
  <google-map
    height="400px"
    width="750px"
    [center]="center"
    [zoom]="zoom"
    (mapClick)="moveMap($event)"
    (mapMousemove)="move($event)"
    #mapRef>
  </google-map>
</div>
<mat-form-field appearance="fill">
  <mat-label>Address</mat-label>
  <input
    class="input"
    type="text"
    matInput
    [formControl]="autocompleteInputControl"
    ngx-gp-autocomplete
    #ngxPlaces="ngx-places"
    (onAddressChange)="selectAddress($event)">
</mat-form-field>

<h2>Note: Search bar is currently not linked to map</h2>
<h2>In development :)</h2>

