<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <span class="booth-name">{{exhibitorName}}</span>
  </mat-expansion-panel-header>
    <div class="product-list">
      <ul>
        <li *ngFor="let order of orders; let i = index">
          <span class="product-quantity">{{order.quantity}} x</span>
          <span class="product-name">{{order.productName}}</span>
        </li>
      </ul>
    </div>
    <div class="qr-code">
      <span>QR code here</span>
    </div>
</mat-expansion-panel>
