.toolbar-spacer {
  flex: 1 1 auto;
}

.logo-text {
  display: inline-flex;
  align-items: center;
}

.logo-text:hover {
  cursor: pointer;
}

.company-text {
  padding: 0;
}

.logo {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}
