.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 10px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.product-card {
  padding: 0.2em;
  max-width: 200px;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
