.dialog-container {
  width: 400px;
}

.product-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.product-text-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.dialog-footer {
  padding: 1em;
}
