<mat-toolbar>
    <span>{{boothName}}</span>
    <span class="toolbar-spacer"></span>
    <button
      type="button"
      mat-stroked-button
      *ngIf="!isViewedByVisitor"
      (click)="generateNewProduct()"
      color="primary"
      aria-label="Generate New Product">
      <mat-icon>add</mat-icon>
      Generate Random
    </button>
    <button
      type="button"
      mat-raised-button
      *ngIf="!isViewedByVisitor"
      (click)="toggleEdit()"
      [color]="isEdit ? 'primary' : ''"
      aria-label="Edit Products">
      <mat-icon>{{!isEdit ? "edit" : "check"}}</mat-icon>
      {{!isEdit ? "Edit Products" : "Done Editing"}}
    </button>
</mat-toolbar>
<div class="responsive-grid">
  <div *ngFor="let product of products">
    <app-product-edit-wrapper
      [product]="product"
      [exhibitorId]="exhibitorId"
      (productUpdatedEvent)="loadProducts()"
      *ngIf="isEdit; else notEdit">
      <app-product-summary-card
        [isClickEnabled]="false"
        [product]="product"
        (updateProducts)="loadProducts()">
      </app-product-summary-card>
    </app-product-edit-wrapper>
    <ng-template #notEdit>
      <app-product-summary-card
        [isClickEnabled]="true"
        [product]="product"
        (updateProducts)="loadProducts()"
        [isViewedByVisitor]="isViewedByVisitor">
      </app-product-summary-card>
    </ng-template>
  </div>
  <app-product-new-card
    (click)="addNewProduct()"
    *ngIf="isEdit">
  </app-product-new-card>
</div>
