<div class="dialog-container">
  <div>
    <h1 mat-dialog-title class="title">Checkout</h1>
    <p>Please confirm your order before proceeding to pay.</p>
  </div>

  <div mat-dialog-content class="content">
    <ul>
      <li *ngFor="let order of checkoutOrders">
        <span>{{order.quantity}} x </span>
        <span>{{order.productName}}</span>
      </li>
    </ul>
  </div>

  <div class="dialog-footer" mat-dialog-actions align="end">
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="true"
      (click)="proceedToPayment()">
      Make Payment
    </button>
  </div>
</div>
