.product-card {
  padding: 0.2em;
  width: 280px;
  height: 330px;
}

.product-card:hover {
  box-shadow: 3px 8px 20px 3px rgba(0,0,0,0.2);
  cursor: pointer;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  max-width: 280px;
  max-height: 280px;
  object-fit: contain;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
