<mat-toolbar>
  <span>Shopping Cart</span>
  <span class="toolbar-spacer"></span>
  <button
    mat-raised-button
    color="primary"
    (click)="checkout()"
    [disabled]="!isPaymentEnabled">
    <mat-icon>payment</mat-icon>
    Checkout
  </button>
</mat-toolbar>
<app-cart
  *ngFor="let group of groupedOrders | keyvalue"
  [exhibitorId]="group.key"
  [orders]="group.value"
  (updateCheckoutButton)="updateCheckoutButton($event)">
</app-cart>
<span class="total-price">{{totalCost | currency}}</span>
<span class="total-price">Total:</span>
<div *ngFor="let checkedOrder of $any(checkedOrders$ | async)">
  <span>{{checkedOrder.orderId}}</span>
</div>
