.dialog-container {
  width: 600px;
}

.product-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.product-text-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  padding-bottom: 0;
}

.price-prefix {
  padding: 0 10px;
}

.description-text-container {
  padding: 0 0.5em;
}

.description-text {
  width: 100%;
}

.dialog-footer {
  padding: 1em;
  padding-top: 0;
}

.button-spacer {
  flex: 1 1 auto;
}
